1. (i)

In [18]:
n = int(input("Enter a natural number: "))
sum = 0
for i in range(n):
    if i % 2 != 0:  
        sum = sum + (i + 3)
print(" Odd number is:", sum)

Enter a natural number: 5
 Odd number is: 10

(ii)

In [22]:
n = int(input("Enter a natural number: "))
sum = 0
for i in range(n):
    if i % 2 == 0:  
        sum = sum + (i + 3)
print(" even number is:", sum)

Enter a natural number: 2
 even number is: 3

Q2.

In [43]:
n = int(input("Enter the number of the day week (from 0 to 6): "))
List = [0,1,2,3,4]
if n in List:
    print("It is a working day")
elif n in [5,6]:
    print("Weekend")
else:
    print("not corresponding day")

Enter the number of the day week (from 0 to 6): 4
It is a working day

Q3.

In [42]:
n =int(input("Enter a month number (from 0 to 11): "))
List = [ 4,6,9,10]
if n in List:
    print("Month has 30 days")
elif n in [0,3,5,7,8,11]:
    print("Month has 31 days")
    
else :
    print("Month has 28 days")

Enter a month number (from 0 to 11): 2
Month has 28 days

Q4.

In [35]:
#for loop
for i in range(3):
    print("Janvier")

Janvier
Janvier
Janvier

In [36]:
#while loop
i=0
while i<3:
    i=i+1
    print("Janvier")

Janvier
Janvier
Janvier

Q5.

In [60]:
#Fibonacci sequence.
a0 = int(input("Enter a value of a0: "))
a1 = int(input("Enter a value of a0: "))
F = [a0, a1]

for i in range(15): 
    next_term = F[-1] + F[-2]
    F.append(next_term)
    
print("Fibonacci sequence of first 15 numbers: ",F )

Enter a value of a0: 1
Enter a value of a0: 1
Fibonacci sequence of first 15 numbers:  [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597]

Q6.

In [75]:
x0 = int(input("Enter a value of x0: "))
x1 = int(input("Enter a value of x0: "))
sum = 0
sequence = [x0,x1]
for i in range(30):
    net_term = (sequence[-1] + sequence[-2])/(2)
    sequence.append(net_term)
    
    
    
print("Sum of first 30 terms: ", sequence)

Enter a value of x0: 1
Enter a value of x0: 2
Sum of first 30 terms:  [1, 2, 1.5, 1.75, 1.625, 1.6875, 1.65625, 1.671875, 1.6640625, 1.66796875, 1.666015625, 1.6669921875, 1.66650390625, 1.666748046875, 1.6666259765625, 1.66668701171875, 1.666656494140625, 1.6666717529296875, 1.6666641235351562, 1.6666679382324219, 1.666666030883789, 1.6666669845581055, 1.6666665077209473, 1.6666667461395264, 1.6666666269302368, 1.6666666865348816, 1.6666666567325592, 1.6666666716337204, 1.6666666641831398, 1.66666666790843, 1.666666666045785, 1.6666666669771075]

Q7.

In [91]:
start_year = int(input("Enter start year: "))
end_year = int(input("Enter end year: "))
for year in range(start_year, end_year +1):
    if  ( year % 4 ==0) and (year % 100 !=0) or (year % 400 ==0):
        
        print(f"leap year between {intial_year} and {end_year}: ", year)

Enter start year: 2000
Enter end year: 2050
leap year between 2000 and 2050:  2000
leap year between 2000 and 2050:  2004
leap year between 2000 and 2050:  2008
leap year between 2000 and 2050:  2012
leap year between 2000 and 2050:  2016
leap year between 2000 and 2050:  2020
leap year between 2000 and 2050:  2024
leap year between 2000 and 2050:  2028
leap year between 2000 and 2050:  2032
leap year between 2000 and 2050:  2036
leap year between 2000 and 2050:  2040
leap year between 2000 and 2050:  2044
leap year between 2000 and 2050:  2048

with no conditional branching.

In [100]:
year = int(input("Enter a year: "))
leap_year = (year % 4 == 0) and (year % 100 != 0 or year % 400 == 0)
print(f"Leap Year: {leap_year}")

Enter a year: 2000
Leap Year: True

Q8.

In [101]:
#for loop.
n = int(input("Enter a natural number: "))
sum_of_squares = 0
for i in range(1, n + 1):
    sum_of_squares += i ** 2
print(f"Sum of squares: {sum_of_squares}")

Enter a natural number: 2
Sum of squares: 5

In [102]:
#while loop.
n = int(input("Enter a natural number: "))
sum_of_squares = 0
i = 1
while i <= n:
    sum_of_squares += i ** 2
    i += 1
print(f"Sum of squares: {sum_of_squares}")

Enter a natural number: 2
Sum of squares: 5

b.

Q9.(a)

In [103]:
num = int(input("Enter a natural number: "))
print(f"Divisors of {num}:")
for i in range(1, num + 1):
    if num % i == 0:
        print(i)

Enter a natural number: 3
Divisors of 3:
1
3

(b)

In [104]:
num = int(input("Enter a natural number: "))
i = 2
prime_factors = []
while i * i <= num:
    if num % i == 0:
        prime_factors.append(i)
        num //= i
    else:
        i += 1
if num > 1:
    prime_factors.append(num)
print(f"Prime factors: {prime_factors}")

Enter a natural number: 3
Prime factors: [3]

10.

In [105]:
x = int(input("Enter a number between 0 and 9: "))
N = int(input("Enter a number: "))

if 0 <= x <= 9:
    print(f"Multiplication table for {x} up to {N}:")
    for i in range(N + 1):
        print(f"{x} x {i} = {x * i}")
else:
    print("Invalid number.")

Enter a number between 0 and 9: 2
Enter a number: 2
Multiplication table for 2 up to 2:
2 x 0 = 0
2 x 1 = 2
2 x 2 = 4

11.

In [106]:
for i in range(41):
    if i % 3 == 0 or i % 7 == 0 or i % 11 == 0:
        print(i)

0
3
6
7
9
11
12
14
15
18
21
22
24
27
28
30
33
35
36
39

Q12.

In [107]:
import math

x = float(input("Enter a float number: "))
print(f"Floor of {x}: {math.floor(x)}")

Enter a float number: 2
Floor of 2.0: 2

Q13.

Q14.